<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-10">
      <h1 class="display-6 fw-bold lh-1 mb-3 text-center">Sign Up</h1>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "p-4 p-md-5 border rounded-3 bg-light") do |f| %>
        <div class="form-floating mb-3">
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          <%= f.label :email, "Your Email Address:" %>
        </div>
        <div class="form-floating mb-3">
          <%= f.label :password, "Your Password:" %>
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
        </div>
        <div class="form-floating mb-3">
          <%= f.label :password_confirmation, "Confirm Your Password:" %>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <%= f.submit "Sign Up", class: "w-100 btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
