<% if notice.present? %>
  <div class="alert alert-success">
    <% if notice.include?("http") %>
      Your Shortened URL : <%= link_to notice, notice, target: "_blank" %>
    <% else %>
      <%= notice %>
    <% end %>
  </div>
<% end %>
<% if alert.present? %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>
