<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-10">
      <h1 class="display-6 fw-bold lh-1 mb-3 text-center">URL Shortener</h1>
      <%= render "layouts/shared/alerts" %>
      <%= form_with model: @link, class: "p-4 p-md-5 border rounded-3 bg-light" do |form| %>
        <div class="form-floating mb-3">
          <%= form.text_field :url, class: "form-control", placeholder: "http://example.com" %>
          <%= form.label :url, "Please Enter the URL:" %>
        </div>
        <%= form.submit "Shorten", class: "w-100 btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
