<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-10">
      <h1 class="display-6 fw-bold lh-1 mb-3 text-center">Saved Links</h1>
      <div id="user_links" class="p-4 p-md-5 border rounded-3 bg-light">
        <table class="table table-dark table-striped table-responsive">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Short URL</th>
              <th scope="col"># of Clicks</th>
              <th scope="col">Actual URL</th>
            </tr>
          </thead>
          <tbody>
            <% @links.each_with_index do |link, i| %>
              <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><%= link.short %></td>
                <td><%= link.clicks %></td>
                <td title="<%= link.url %>"><%= link.url[0..30] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
